//Fonts Colors
$white: rgba(255, 255, 255, 0.5);
$white-light: rgba(255, 255, 255, 1);


//Btn Colors
$dark: rgba(25, 15, 20, 1);
$gray: rgba(73, 73, 73, 1);
$light-beige: rgba(219, 211, 203, 1);
$black: rgba(0, 0, 0, 1);

//Background color
$bg-black: #1B1B1B;
$bg-light: #F5F5F5;

//menu
$black: #242221;

//form
$gray-light: #D5D5D5;



